<%- include("header") -%>
<h3 class="subheadding">REGISTRATION FORM</h3>
<div class="container">


<form class="forma" action="/" method="post">
  <div class="row">
<div class="col-3">
  FULL NAME
</div>
<div class="col-4">
 <input type="text" name="fname" value="" placeholder="Full Name" required>
</div>
</div>

<div class="row">
<div class="col-3">
  SCHOOL OF STUDY
</div>
<div class="col-4">
<input type="text" name="school" value="" required>
</div>
</div>

<div class="row">
<div class="col-3">
  PHONE NUMBER
</div>
<div class="col-4">
<input type="number" name="phone" value="" required>
</div>
</div>


<div class="row">
<div class="col-3">
  E-Mail ID
</div>
<div class="col-4">
  <input type="email" name="mail" value="">
</div>
</div>

<div class="row">
<div class="col-3">
  BOARD OF STUDY
</div>
<div class="col-4">
      <select name="board" id="board">
    <option value="CBSE">CBSE</option>
    <option value="ISC">ISC</option>
    <option value="KERALA">KERALA</option required>
  </select>
</div>
</div>
<div class="row">
<div class="col-3">
MARKS IN +2
</div>
<div class="col-3">
PHY: <input type="number" name="phy" value="" style="width: 60px;">
</div>
<div class="col-3">
CHEM: <input type="number" name="chem" value=""style="width: 60px;">
</div>
<div class="col-3">
MATHS: <input type="number" name="maths" value="" style="width: 60px;">
</div>
</div>


<div class="row">
<div class="col-3">
BRANCH OPTION
</div>
<div class="col-5">
MECHANICAL </div>
<div class="col-2">
  <select name="bomech" id="board">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
</select>
</div>
</div>

<div class="row">
<div class="col-3">

</div>
<div class="col-5">
COMPUTER SCIENCE </div>
<div class="col-2">
  <select name="bocs" id="board">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
</select>
</div>
</div>


<div class="row">
<div class="col-3">

</div>
<div class="col-5">
ELECTRICAL &ELECTRONICS</div>
<div class="col-2">
  <select name="boee" id="board">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
</select>
</div>
</div>

<div class="row">
<div class="col-3">

</div>
<div class="col-5">
ELECTRONICS & COMMUNICATION</div>
<div class="col-2">
  <select name="boec" id="board">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
</select>
</div>
</div>

<div class="row">
<div class="col-3">
</div>
<div class="col-5">
CIVIL : </div>
<div class="col-2">
  <select name="bocvil" id="board">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
</select>
</div>
</div>

<div class="row">
<div class="col-3">
</div>
<div class="col-5">

<button type="submit" name="button">SUBMIT</button>
 </div>
 </div>

</form>
</div>
<%- include("footer") -%>
